@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
